:root {
  --background-color: #efebde;
  --header-color: #245fd6;
  --border-color: #d8d8c8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  min-width: 950px;
}

.form-header {
  color: var(--header-color);
  font-weight: bold;
  text-align: center;
  margin: 48px;
}

.header {
  color: var(--header-color);
  font-style: italic;
  position: relative;
  top: -26px;
  display: inline-block;
  background-color: var(--background-color);
}

.main-header {
  font-weight: bold;
}

.label__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.label {
  font-weight: bold;
  max-width: 190px;
  text-align: right;
}

.optional-label {
  margin-right: 13px;
}

.star {
  font-weight: bold;
  color: red;
  margin-top: 4px;
}

.doc-star {
  visibility: hidden;
}

.main-text {
  font-weight: bold;
}

.declaration-text {
  margin: 0 0 16px 36px;
}

textarea {
  resize: vertical;
}
.container {
  border: 2px solid var(--border-color);
  border-radius: 4px;
  margin: 8px;
  padding: 16px;
}

.forms__container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.external__container {
  padding-right: 24px;
}

.form__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
}

.form-large__container {
  align-items: center;
}

.name-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-form__large {
  margin-top: 8px;
}

.address__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.checkbox-address__container {
  margin-right: 280px;
  padding: 8px 0 16px 0;
}

.checkboxes__container {
  margin-top: 16px;
}

.checkbox__container {
  justify-content: flex-start;
  margin-left: 100px;
  align-items: center;
}

.form-payment__container {
  margin: 0 308px 8px 0;
}

.payments__container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.payment__container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.agreement__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.optional-checkbox {
  margin-left: 8px;
}

.person-doc__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 0 24px 0 48px;
}

.person-doc__subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.person-doc__text {
  font-size: 18px;
}

.person-doc {
  display: none;
}

.person-doc__button {
  cursor: pointer;
}

.form-label {
  font-size: 12px;
}

.name-form,
.select-form {
  width: 640px;
}

.middle-form {
  width: 240px;
}

.short-form {
  width: 120px;
}

.middle-margin {
  margin-right: 400px;
}

.short-margin {
  margin-right: 520px;
}

.submit__container {
  display: flex;
  justify-content: flex-end;
  margin: 48px 50px 24px;
}

.post-address__container {
  display: flex;
  flex-direction: column;
}

.postal-service__container {
  display: none;
}

.requisites__container {
  display: none;
}
